.win
{
  width: 1800px;
}

.w
{
  background-color: #717171;
  border-radius: 50px;
}

/* left */

.l-26
{
  left: -300px;
}

.l00
{
  left: 0px;
}

.l0
{
  left: 5px;
}

.l1
{
  left: 10px;
}

.l2
{
  left: 25px;
}

.l4
{
  left: 40px;
}

.l45
{
  left: 45px;
}

.l6
{
  left: 60px;
}

.l7
{
  left: 75px;
}

.l9
{
  left: 90px;
}

.l11
{
  left: 110px;
}

.l13
{
  left: 135px;
}

.l22
{
  left: 225px;
}

.l26
{
  left: 260px;
}

.l29
{
  left: 294px;
}

.l31
{
  left: 315px;
}

.l36
{
  left: 360px;
}

.l40
{
  left: 405px;
}

.l41
{
  left: 410px;
}

.l75
{
  left: 750px;
}

.l90
{
  left: 900px;
}

.l108
{
  left: 1080px;
}

.r0
{
  right: 10px;
}

.r1
{
  right: 20px;
}

.r2
{
  right: 80px;
}

.r3
{
  right: 140px;
}

.r23
{
  right: 230px;
}

/* top */

.t-2
{
  top: -20px;
}

.t-5
{
  top: -5px;
}

.t00
{
  top: 0px;
}

.t0
{
  top: 5px;
}

.t1
{
  top: 8px;
}

.t10
{
  top: 10px;
}

.t6
{
  top: 17px;
}

.t2
{
  top: 20px;
}

.t4
{
  top: 40px;
}

.t5
{
  top: 45px;
}

.t60
{
  top: 55px;
}

.t69
{
  top: 69px;
}

.t100
{
  top: 100px;
}

.t12
{
  top: 125px;
}

.t15
{
  top: 150px;
}

.t17
{
  top: 175px;
}

.t22
{
  top: 220px;
}

.t24
{
  top: 245px;
}

.t28
{
  top: 285px;
}

.t30
{
  top: 300px;
}

.t35
{
  top: 350px;
}

.t40
{
  top: 400px;
}

.t45
{
  top: 420px;
}

.t51
{
  top: 510px;
}

.t57
{
  top: 575px;
}

.t62
{
  top: 625px;
}

.t73
{
  top: 735px;
}

.t80
{
  top: 800px;
}

.t85
{
  top: 850px;
}

.t96
{
  top: 960px;
}

/* text */

.x7
{
  font-size: 100px;
}

.x6
{
  font-size: 69px;
}

.x4
{
  font-size: 40px;
}

.x3
{
  font-size: 35px;
}

.x30
{
  font-size: 30px;
}

.x25
{
  font-size: 25px;
}

.x2
{
  font-size: 20px;
}

.x0
{
  font-size: 18px;
}

.x00
{
  font-size: 16px;
}

.x1
{
  font-size: 12px;
}

.b
{
  color: black;
}

.tc
{
  text-align: center;
}

/* Image */

.q0
{
  height: 360px;
  border-radius: 20px;
}

.q1
{
  height: 100px;
  border-radius: 5px;
}

.q2
{
  height: 70px;
  border-radius: 35px;
}

.q3
{
  height: 40px;
}

.q4
{
  height: 56px;
}

.q5
{
  height: 30px;
}

.q6
{
  height: 69px;
}

.q7
{
  height: 80px;
  border-radius: 10px;
}

.q8
{
  height: 20px;
}

/* Other */

.c
{
  transform: translateX(-50%);
}

.cy
{
  transform: translateY(-50%);
}


.pd
{
  padding-left: 50px;
  padding-right: 50px;
}

.bor
{
  border-radius: 20px;
}