.win
{
  width: 1800px;
}

.w
{
  background-color: #717171;
  border-radius: 50px;
}

/* left */

.l0
{
  left: 5px;
}

.l2
{
  left: 25px;
}

.l4
{
  left: 40px;
}

.l45
{
  left: 45px;
}

.l6
{
  left: 60px;
}

.l9
{
  left: 90px;
}

.l11
{
  left: 110px;
}

.l13
{
  left: 135px;
}

.l22
{
  left: 225px;
}

.l26
{
  left: 260px;
}

.l29
{
  left: 294px;
}

.l31
{
  left: 315px;
}

.l40
{
  left: 405px;
}

.l41
{
  left: 410px;
}

.r1
{
  right: 20px;
}

.r2
{
  right: 80px;
}

.r3
{
  right: 140px;
}

.r23
{
  right: 230px;
}

/* top */

.t0
{
  top: 5px;
}

.t1
{
  top: 8px;
}

.t6
{
  top: 17px;
}

.t2
{
  top: 20px;
}

.t4
{
  top: 40px;
}

.t5
{
  top: 45px;
}

.t60
{
  top: 55px;
}

.t12
{
  top: 125px;
}

.t17
{
  top: 175px;
}

.t28
{
  top: 285px;
}

.t35
{
  top: 350px;
}

.t40
{
  top: 400px;
}

.t51
{
  top: 510px;
}

.t57
{
  top: 575px;
}

.t62
{
  top: 625px;
}

.t73
{
  top: 735px;
}

.t80
{
  top: 800px;
}

.t85
{
  top: 850px;
}

.t96
{
  top: 960px;
}

/* text */

.x4
{
  font-size: 40px;
}

.x3
{
  font-size: 35px;
}

.x2
{
  font-size: 20px;
}

.x1
{
  font-size: 12px;
}

.x0
{
  font-size: 18px;
}

.b
{
  color: black;
}

/* Image */

.q1
{
  height: 100px;
  border-radius: 5px;
}

.q2
{
  height: 70px;
  border-radius: 35px;
}

.q3
{
  height: 40px;
}

.q4
{
  height: 56px;
}

.q5
{
  height: 30px;
}

/* Other */

.c
{
  transform: translateX(-50%);
}